[submodule "themes/hugo-theme-stak"]
	path = themes/hugo-theme-stak
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
